nav {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  border-bottom: 3px solid var(--PRIMARY-COLOR);
  padding: 1rem 0.8rem;
  align-items: center;
}

nav > div {
  position: relative;
  display: flex;
  gap: 3rem;
}

nav > img {
  width: 20px;
}
