.home-text-image {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  height: 90vh;
  align-items: center;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 300px;
}

.home-image {
  max-width: 40%;
}

.home-title {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 25px;
}

.article-courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.article-courses {
  color: rgb(4, 107, 153);
  font-weight: 900;
  font-size: 30px;
}

@media (max-width: 1024px) {
  .home-text-image {
    width: 100vw;
    flex-direction: column;
    height: 100dvh;
  }

  .text-box {
    width: 100%;
    height: 100dvh;
  }
}
