.selected-item {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.selected-item > i {
  color: var(--PRIMARY-COLOR);
}

.not-selected-item {
  color: rgba(255, 255, 255, 0.8);
}

.not-selected-item > i {
  color: rgba(255, 255, 255, 0.8);
}

.profile table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.profile td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.profile tr:nth-child(even) {
  background-color: #dddddd;
}

.logout-button {
  display: flex;
  justify-content: center;
  background-color: var(--PRIMARY-COLOR);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 0.3rem 0;
}
