.app-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 13rem;
  height: 100%;
  border-left-width: 0;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 3px var(--PRIMARY-COLOR);
}

.app-sidebar > div {
  cursor: pointer;
}

.app-sidebar > .padding-button {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 2rem;
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--PRIMARY-COLOR);
}

.button {
  background-color: var(--PRIMARY-COLOR);
  padding: 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 80%;
  color: rgba(255, 255, 255, 1);
}

.button:hover {
  color: var(--PRIMARY-COLOR);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 3px var(--PRIMARY-COLOR);
}

.button-clicked {
  color: var(--PRIMARY-COLOR);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 3px var(--PRIMARY-COLOR);
}


.profile table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.profile td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.profile tr:nth-child(even) {
  background-color: #dddddd;
}
