table {
  table-layout: fixed;
  width: 100%;
  border-radius: 0.375rem;
}

.adminTable .table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #f9fafb;
}

.status {
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
}

.adminTable .table th:last-child,
td:last-child {
  padding-right: 1rem;
}

.adminTable .table th:first-child,
td:first-child {
  padding-left: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color of the thumb */
  border-radius: 4px; /* Border radius of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Color of the thumb on hover */
}

.adminTable .table th:nth-child(-n + 6),
.adminTable .table td:nth-child(-n + 6) {
  width: 16%;
}

.button-add {
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  background: var(--PRIMARY-COLOR);
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.table-header-display {
  display: none;
}
.table-body-display {
  flex-direction: row;
}

@media (max-width: 1200px) {
  .table-body-display {
    display: flex;
    flex-direction: column;
  }
  .table-body-display > tr > td {
    width: 100% !important;
    border-bottom: 0;
  }
  .tr-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #000;
  }
}

@media (min-width: 1200px) {
  .table-header-display {
    display: table-header-group;
  }
}
