.detail-sidebar {
  position: fixed;
}

@media (max-width: 992px) {
  .detail-lesson {
    box-shadow: 0 0 1px #000;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    height: 40%;
  }
}
