@import './flex.css';

* {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --PRIMARY-COLOR: rgba(4, 107, 153, 1);
  --WHITE-COLOR: rgba(255, 255, 255, 1);
  --DELETE-COLOR: rgb(255, 49, 49, 1);
}

body {
  margin: 0;
  height: 100dvh;
  overflow-x: hidden;
}

.primary-button {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--PRIMARY-COLOR);
  color: var(--PRIMARY-COLOR);
  font-weight: 500;
  font-size: 16px;
}

.secondary-button {
  background-color: var(--PRIMARY-COLOR);
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--PRIMARY-COLOR);
  cursor: pointer;
  color: var(--WHITE-COLOR);
  font-weight: 500;
  font-size: 16px;
}

.delete-button {
  background-color: var(--DELETE-COLOR);
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--DELETE-COLOR);
  cursor: pointer;
  color: var(--WHITE-COLOR);
  font-weight: 500;
  font-size: 16px;
}

.primary-button:hover {
  box-shadow: 0px 0px 4px var(--PRIMARY-COLOR);
}

.primary-text {
  color: rgb(4, 107, 153);
  text-decoration: none;
  font-weight: 500;
}

p {
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

input {
  border-radius: 10px;
  padding: 1rem;
  border: 0;
  box-shadow: 0 0 4px var(--PRIMARY-COLOR);
}

input:focus-visible {
  border: 1px solid var(--PRIMARY-COLOR);
  outline: none;
}
