@import './flex.css';

* {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
  /* color: (var(--TEXT-COLOR)); */
}

:root {
  --DISABLED-OPACITY: 0.5;
  --PRIMARY-COLOR: rgba(4, 107, 153, 1);
  --WHITE-COLOR: rgba(255, 255, 255, 1);
  --DELETE-COLOR: rgb(255, 49, 49, 1);
  --TEXT-COLOR: rgb(17 24 39);
  --TEXT-COLOR-DISABLED: rgb(17 24 39 / var(--DISABLED-OPACITY));

  --REP-STATUS-DEL: #ff9999;
  --REP-STATUS-DONE: #99ff99;
  --REP-STATUS-PEND: #ffcc99;
  --REP-STATUS-DEF: #9999ff;

  --svw: calc(1svw - var(--scrollbarWidth) / 100);
  --lvw: calc(1lvw - var(--scrollbarWidth) / 100);
  --dvw: calc(1dvw - var(--scrollbarWidth) / 100);

  --svmin: calc(min(1svh, var(--svw)));
  --svmax: calc(max(1svh, var(--svw)));

  --lvmin: calc(min(1lvh, var(--lvw)));
  --lvmax: calc(max(1lvh, var(--lvw)));

  --dvmin: calc(min(1dvh, var(--dvw)));
  --dvmax: calc(max(1dvh, var(--dvw)));
}

.c-primary {
  color: var(--PRIMARY-COLOR);
}

a {
  color: var(--PRIMARY-COLOR);
  cursor: pointer;
}

/* 
body {
  margin: 0;
  height: 100svh;
  overflow-x: hidden;
}

.primary-button {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--PRIMARY-COLOR);
  color: var(--PRIMARY-COLOR);
  font-weight: 500;
  font-size: 16px;
}

.secondary-button {
  background-color: var(--PRIMARY-COLOR);
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--PRIMARY-COLOR);
  cursor: pointer;
  color: var(--WHITE-COLOR);
  font-weight: 500;
  font-size: 16px;
}

.delete-button {
  background-color: var(--DELETE-COLOR);
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--DELETE-COLOR);
  cursor: pointer;
  color: var(--WHITE-COLOR);
  font-weight: 500;
  font-size: 16px;
}

.primary-button:hover {
  box-shadow: 0px 0px 4px var(--PRIMARY-COLOR);
}

.primary-text {
  color: rgb(4, 107, 153);
  text-decoration: none;
  font-weight: 500;
}

p {
  margin: 0;
}


.cursor-pointer {
  cursor: pointer;
}

input {
  border-radius: 10px;
  padding: 1rem;
  border: 0;
  box-shadow: 0 0 4px var(--PRIMARY-COLOR);
}

input:focus-visible {
  border: 1px solid var(--PRIMARY-COLOR);
  outline: none;
} */

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}