.m8 {
  margin: 8px;
}

.m16 {
  margin: 16px;
}

.m24 {
  margin: 24px;
}

.mw8 {
  margin: 0 8px;
}

.mw16 {
  margin: 0 16px;
}

.mw24 {
  margin: 0 24px;
}

.mh8 {
  margin: 8px 0;
}

.mh16 {
  margin: 16px 0;
}

.mh24 {
  margin: 24px 0;
}
