.card {
  padding: 1rem;
  background-color: #cdcdcd;
  width: fit-content;
  border-radius: 10px;
}

.card > .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.repetition-status {
  padding: 0.1rem;
  border-radius: 5px;
}

.deleted {
  background-color: var(--REP-STATUS-DEL);
}

.done {
  background-color: var(--REP-STATUS-DONE);
}

.pending {
  background-color: var(--REP-STATUS-PEND);
}

.default {
  background-color: var(--REP-STATUS-DEF);
}
