.deleted {
  background-color: var(--REP-STATUS-DEL);
}

.done {
  background-color: var(--REP-STATUS-DONE);
}

.pending {
  background-color: var(--REP-STATUS-PEND);
}

.default {
  background-color: var(--REP-STATUS-DEF);
}
