footer {
  background-color: #e7e7e7;
  padding: 1rem;
}

.download-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-app > p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-icon-size {
  width: 40px;
  cursor: pointer;
  margin-right: 15px;
}
