.calendar .table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #f9fafb;
  color: var(--TEXT-COLOR-DISABLED);
}

.calendar .table td span {
  color: #6b7280;
}

.calendar .table .current-month {
  background-color: #fff;
  color: var(--TEXT-COLOR);
}

.calendar .table .current-month span {
  color: #111827;
}

.calendar table {
  table-layout: fixed;
  width: 100%;
}

.calendar table thead tr th:nth-child(-n + 5) {
  width: 17%;
}

@media (max-width: 1400px) {
  .th-day .rest {
    visibility: hidden;
  }

  .th-day .next-two {
    visibility: visible;
  }
}

@media (max-width: 992px) {

  .th-day .rest {
    visibility: hidden;
  }

  .th-day .next-two {
    visibility: hidden;
  }

  .calendar .table td {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .lesson {
    display: flex;
    justify-content: center;
  }

  .day span {
    margin-left: 0.75rem;
  }

  .calendar table thead tr th:nth-child(-n + 5) {
    width: 15% !important;
  }
}
