.calendar .table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #f9fafb;
  color: var(--TEXT-COLOR-DISABLED);
}

.calendar .table td span {
  /* font-size: 1.2rem;
  font-weight: 600; */
  color: #6b7280;
}

.calendar .table .current-month {
  background-color: #fff;
  color: var(--TEXT-COLOR);
}

.calendar .table .current-month span {
  color: #111827;
}

.calendar table {
  table-layout: fixed;
  width: 100%;
}

.calendar .table th:nth-child(-n + 5),
.calendar .table td:nth-child(-n + 5) {
  width: 15%;
}

@media (max-width: 992px) {

  .th-day {
    visibility: hidden;
  }

  .th-day:first-letter {
    visibility: visible;
  }

  /* .admin-table .table td:last-child {
    width: 64px;
    background-color: rebeccapurple;
  } */

  .calendar .table td {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .lesson {
    display: flex;
    justify-content: center;
  }

  .day span {
    margin-left: 0.75rem;
  }
}

@media (max-width: 460px) {
  .calendar .table th:nth-child(-n + 5),
  .calendar .table td:nth-child(-n + 5) {
    width: 14%;
  }
}
